@import 'src/styles/vars';

@media screen and (min-width: 760px) {


.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fixed-nav {
  position: fixed;
}

.logo {
  width: 50px;
  height: 50px;
}

.nav-link {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
}

.nav-link li {
  margin-left: 1em;
  cursor: pointer;
}

#title {
  margin: auto;
  width: 40%;
}

.sub-title1 {
  color: white;
  text-align: center;
  font-size: 2.8em;
  line-height: 1.2em;
  text-transform: uppercase;
}

.page-title {
  color: white;
  text-align: center;
  font-size: 2.8em;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-top: 3em;
}

.line {
  width: 20%;
  margin: 1.5em auto;
  border-bottom:3px solid white;
}

.sub-title2 {
  color: white;
  text-align: center;
}

}


// CSS Mobile Header //

@media screen and (max-width: 759px) {
  
  
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    height: 50px;
  }
  
  .nav-link {
    display: none;
    flex-direction: row;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
  }
  
  .nav-link li {
    margin-left: 1em;
    cursor: pointer;
  }
  
  #title {
    margin: auto;
    width: 90%;
  }
  
  .sub-title1 {
    color: white;
    text-align: center;
    font-size: 2.8em;
    line-height: 1.2em;
    text-transform: uppercase;
  }

  .page-title {
    color: white;
    text-align: center;
    font-size: 2.8em;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-top: 3em;
  }
  
  .line {
    width: 20%;
    margin: 1.5em auto;
    border-bottom:3px solid white;
  }
  
  .sub-title2 {
    color: white;
    text-align: center;
  }
  
  }
  