@media screen and (max-width: 759px) {
  
    .header {
      display: flex;
      flex-direction: column;
      align-content: space-between;
      padding: 1.7em 2em;
      width: 100%;
      height: 800px;
      background-image: url('../../images/home.jpg');
      background-size: cover;
      background-position:center;
    
      &menu {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        padding: 1.7em 2em;
        width: 100%;
        height: 300px;
        background-image: url('../../images/pacman-bar.jpg');
        background-size: cover;
        background-position:center;
      }
    
      &nos-jeux {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        padding: 1.7em 2em;
        width: 100%;
        height: 300px;
        background-image: url('../../images/gaming-zone.jpg');
        background-size: cover;
        background-position:center;
      }
    
      &reservation {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        padding: 1.7em 2em;
        width: 100%;
        height: 300px;
        background-image: url('../../images/reservation.jpg');
        background-size: cover;
        background-position:center;
      }
    
      &evenement {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        padding: 1.7em 2em;
        width: 100%;
        height: 300px;
        background-image: url('../../images/event-header.jpg');
        background-size: cover;
        background-position:center;
      }
  
      &login {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        padding: 1.7em 2em;
        width: 100%;
        height: 300px;
        background-image: url('../../images/login-header.jpg');
        background-size: cover;
        background-position:center;
      }
}
}