@import 'src/styles/vars';

.app {
  background-color: $background-color;
  height: 100%;

  &nos-jeux {
    background-color: #6bdae4;
    height: 100%;
  }

  &menu {
    background-color: #fcaf5d;
    height: 100%;
  }
}
